.container{
  display: grid;
}
.row img {
  width: 100px;
  float: left;
  margin: 10px;
  background-color: green;
}

body{
  background-image: url("img/matrix.gif");
  background-size: cover;
}

.jumbotron{
  background-color: green;
}
#output{
  display: none;
  grid-area: footer;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
}
